1.  6710451208 มนัสนันท์ รัตนเกียรติขจร 200
    6710451402 สิรินดา ศิลปเจริญ 200

2. วัตถุประสงค์ของระบบต้นแบบ
เพื่อพัฒนาพัฒนาระบบช่วยวิเคราะห์และคาดการณ์ความเสี่ยงในการลาออกของพนักงาน (Employee Attrition) 
ใช้เทคนิค Feature Engineering เพื่อปรับปรุงคุณภาพข้อมูล 
โดยที่ถ้าพนักงานลาออก (Attrition) จะแสดงเป็น 1 และถ้าไม่ลาออกจะแสดงเป็น 0

3. ลิงค์ไปยังข้อมูลที่จะใช้ในระบบต้นแบบ

In [18]:
import pandas as pd
df_employee = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
df_employee

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

4. ข้อมูลชุดนี้ไม่มีค่าที่หายไป(Missing values) เนื่องจากเป็นข้อมูลที่ถูกสร้างขึ้น 
ไม่ได้มาจากการรวบรวมข้อมูลจริง จึงสามารถควบคุมความสมบูรณ์ของข้อมูลได้

In [4]:
from sklearn.model_selection import train_test_split

df_employee_train, df_employee_test = train_test_split(df_employee, test_size=0.3, random_state=123)
len(df_employee_train), len(df_employee_test)

(1029, 441)

In [5]:
df_employee_train.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

5. แต่ละคุณลักษณะ/feature ต้องมีการทำกระบวนการต่างๆ (operations) หรือไม่ อะไรบ้าง อย่างไร

In [6]:
df_employee.drop(["EmployeeCount", "EmployeeNumber", "Over18", "StandardHours"], axis=1, inplace=True)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

categorical_features = ['BusinessTravel', 'Department', 'EducationField', 'JobRole', 'MaritalStatus']

encoder = OneHotEncoder(sparse_output=False, drop='first', handle_unknown='ignore')

encoder.fit(df_employee[categorical_features])

encoded_array = encoder.transform(df_employee[categorical_features])

encoded_df = pd.DataFrame(
    encoded_array,
    columns=encoder.get_feature_names_out(categorical_features),
    index=df_employee.index
)
encoded_df

,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Research & Development,Department_Sales,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single
0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1466,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1467,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1468,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1469,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
num_features = [
    "Age",
    "DailyRate",
    "DistanceFromHome",
    "HourlyRate",
    "MonthlyIncome",
    "MonthlyRate",
    "NumCompaniesWorked",
    "PercentSalaryHike",
    "TotalWorkingYears",
    "TrainingTimesLastYear",
    "YearsAtCompany",
    "YearsInCurrentRole",
    "YearsSinceLastPromotion",
    "YearsWithCurrManager"
]

df_scaled = df_employee.copy()
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled[num_features] = scaler.fit_transform(df_scaled[num_features])
df_scaled[num_features].head()

,Age,DailyRate,DistanceFromHome,HourlyRate,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0.547619,0.715820,0.000000,0.914286,0.262454,0.698053,0.888889,0.000000,0.200,0.0,0.15,0.222222,0.000000,0.294118
1,0.738095,0.126700,0.250000,0.442857,0.217009,0.916001,0.111111,0.857143,0.250,0.5,0.25,0.388889,0.066667,0.411765
2,0.452381,0.909807,0.035714,0.885714,0.056925,0.012126,0.666667,0.285714,0.175,0.5,0.00,0.000000,0.000000,0.000000
3,0.357143,0.923407,0.071429,0.371429,0.100053,0.845814,0.111111,0.000000,0.200,0.5,0.20,0.388889,0.200000,0.000000
4,0.214286,0.350036,0.035714,0.142857,0.129489,0.583738,1.000000,0.071429,0.150,0.5,0.05,0.111111,0.133333,0.117647

6. การป้องกัน Data Leakage ในกรณีนี้
- ทำ Scaling และ Encoding(one-hot-encoding) โดยใช้ข้อมูลจากชุดฝึก (Training set)เท่านั้น 
แล้วนำค่าพารามิเตอร์ที่ได้ไปใช้กับชุดทดสอบ
    - Numerical Features 
    จำเป็นต้องผ่านกระบวนการ Scaling เพื่อปรับขนาดข้อมูลให้อยู่ในช่วงเดียวกัน โดยใช้ StandardScaler จากsklearn 
    เพื่อให้ค่ามีค่าเฉลี่ยเป็น 0 และส่วนเบี่ยงเบนมาตรฐานเป็น 1 ซึ่งช่วยให้โมเดลไม่ถูก bias จากฟีเจอร์ที่มีค่ามากเกินไป
    - Categorical Features
    ฟีเจอร์ที่เป็นข้อความ ไม่สามารถนำไปใช้กับโมเดลได้โดยตรง จึงต้องแปลงเป็นตัวเลขผ่านกระบวนการ One-Hot Encoding
    โดยใช้ OneHotEncoder จาก sklearn เพื่อแปลงแต่ละค่าหมวดหมู่เป็นคอลัมน์ใหม่ที่มีค่า 0 หรือ 1 ซึ่งช่วยให้โมเดลเข้าใจข้อมูลโดยไม่สับสนเรื่องลำดับ
- ตรวจสอบให้แน่ใจว่าไม่มีการใช้ฟีเจอร์ที่สัมพันธ์กับผลลัพธ์ หรือกับข้อมูลในอนาคตที่ไม่ควรปรากฏในการฝึกโมเดล

7. วิเคราะห์ความสำคัญของคุณลักษณะ ตัวไหนควรและไม่ควรใช้

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.inspection import permutation_importance

df_train_numeric = df_employee_train.select_dtypes(include=["int64", "float64"]).dropna()
df_test_numeric = df_employee_test.select_dtypes(include=["int64", "float64"]).dropna()

target_column = "MonthlyIncome"
X_train = df_train_numeric.drop(target_column, axis=1)
y_train = df_train_numeric[target_column]

X_test = df_test_numeric.drop(target_column, axis=1)
y_test = df_test_numeric[target_column]

model = LinearRegression()
model.fit(X_train, y_train)

result = permutation_importance(model, X_test, y_test, n_repeats=10, random_state=42)

In [14]:
result_df = pd.DataFrame({
    "feature": X_test.columns,
    "score": result.importances_mean
})
result_df

                     feature     score
0                        Age  0.000602
1                  DailyRate -0.000026
2           DistanceFromHome -0.001077
3                  Education -0.000007
4              EmployeeCount  0.000000
5             EmployeeNumber -0.000004
6    EnvironmentSatisfaction  0.000046
7                 HourlyRate  0.000156
8             JobInvolvement -0.000025
9                   JobLevel  1.461439
10           JobSatisfaction -0.000013
11               MonthlyRate -0.000317
12        NumCompaniesWorked -0.000088
13         PercentSalaryHike  0.000059
14         PerformanceRating  0.000424
15  RelationshipSatisfaction -0.000325
16             StandardHours  0.000000
17          StockOptionLevel -0.000333
18         TotalWorkingYears  0.030676
19     TrainingTimesLastYear  0.000023
20           WorkLifeBalance  0.000015
21            YearsAtCompany  0.000576
22        YearsInCurrentRole -0.000234
23   YearsSinceLastPromotion  0.000954
24      YearsWithCurrManager  0.001846

8. ประเด็นอื่น ๆ ที่เกี่ยวข้องกับข้อมูลของตัวเอง
- การสร้างฟีเจอร์ใหม่(Feature Creation)
การดัดแปลงหรือรวมข้อมูลจากฟีเจอร์ดั้งเดิมที่มีอยู่ในชุดข้อมูล เพื่อสร้างตัวแปรใหม่ที่ช่วยให้โมเดลเรียนรู้และทำนายได้ดีขึ้น 
ช่วยจับ pattern ที่อยู่ในข้อมูลมากกว่าการใช้ฟีเจอร์ดิบโดยตรง เป็นการเพิ่มข้อมูลเชิงลึก(insight)ที่ซ่อนอยู่ในข้อมูล

9. การมีส่วนร่วมของสมาชิกแต่ละคนในกลุ่ม (แต่ละคนทำอะไรบ้าง)

6710451208 มนัสนันท์ รัตนเกียรติขจร 200
- ตอบคำถามและหาข้อมูลเกี่ยวกับข้อ 5,7
- ช่วยกันออกความเห็นในการตอบคำถามข้ออื่น ๆ 

6710451402 สิรินดา ศิลปเจริญ 200
- ตอบคำถามและหาข้อมูลเกี่ยวกับ 4,6
- ช่วยกันออกความเห็นในการตอบคำถามข้ออื่น ๆ

10. การเปิดเผยการใช้เครื่องมือปัญญาประดิษฐ์ (ใช้อะไร ใช้เพื่ออะไร ใช้อย่างไร, prompt อย่างไร)
- ช่วยในการวิเคราะห์ข้อมูลเบื้องต้น
- ช่วยเรียบเรียงคำพูดให้สละสลวย(มีการส่งข้อมูลที่เขียนขึ้นเองเข้าไปให้เรียบเรียงคำพูด)
- ให้คำแนะนำและอธิบายแนวคิด